In [ ]:
import pandas as pd
import numpy as np

2. Load Dataset

In [ ]:
DATA_PATH = "gym_footfall_dataset.csv"

df = pd.read_csv(DATA_PATH)

print("Dataset loaded successfully.")
print("Shape:", df.shape)

Dataset loaded successfully.
Shape: (1827, 23)

In [ ]:
df.head()

,date,day_of_week,is_sunday,month,year,is_vacation,is_gym_open,active_student_population,exam_phase,exam_intensity,...,interuni_event,event_boost_factor,gym_adoption_ratio,maintenance_flag,maintenance_severity,equipment_availability_ratio,effective_capacity,base_demand,raw_demand,daily_gym_footfall
0,2021-01-01,4,0,1,2021,0,1,238,midterm,0.75,...,0,1.0,0.367074,1,low,0.9,162,87.363563,45.405505,45
1,2021-01-02,5,0,1,2021,0,1,228,midterm,0.75,...,0,1.0,0.262876,0,none,1.0,180,59.935680,28.721738,28
2,2021-01-03,6,1,1,2021,0,0,214,midterm,0.75,...,0,1.0,0.275735,0,none,1.0,180,59.007228,29.407258,0
3,2021-01-04,0,0,1,2021,0,1,242,midterm,0.75,...,0,1.0,0.361544,0,none,1.0,180,87.493582,36.183734,36
4,2021-01-05,1,0,1,2021,0,1,207,midterm,0.75,...,0,1.0,0.384251,0,none,1.0,180,79.539898,43.272030,43

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1827 entries, 0 to 1826
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   date                          1827 non-null   object
 1   day_of_week                   1827 non-null   int64
 2   is_sunday                     1827 non-null   int64
 3   month                         1827 non-null   int64
 4   year                          1827 non-null   int64
 5   is_vacation                   1827 non-null   int64
 6   is_gym_open                   1827 non-null   int64
 7   active_student_population     1827 non-null   int64
 8   exam_phase                    1827 non-null   object
 9   exam_intensity                1827 non-null   float64
 10  academic_load_index           1827 non-null   float64
 11  weather_condition             1827 non-null   object
 12  weather_impact_factor         1827 non-null   float64
 13  interuni_event                1827 non-null   int64
 14  event_boost_factor            1827 non-null   float64
 15  gym_adoption_ratio            1827 non-null   float64
 16  maintenance_flag              1827 non-null   int64
 17  maintenance_severity          1827 non-null   object
 18  equipment_availability_ratio  1827 non-null   float64
 19  effective_capacity            1827 non-null   int64
 20  base_demand                   1827 non-null   float64
 21  raw_demand                    1827 non-null   float64
 22  daily_gym_footfall            1827 non-null   int64
dtypes: float64(8), int64(11), object(4)
memory usage: 328.4+ KB

In [ ]:
df.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
date,1827,1827,2021-01-01,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
day_of_week,1827.0,NaN,NaN,NaN,3.0,2.000548,0.0,1.0,3.0,5.0,6.0
is_sunday,1827.0,NaN,NaN,NaN,0.142857,0.350023,0.0,0.0,0.0,0.0,1.0
month,1827.0,NaN,NaN,NaN,6.520525,3.450954,1.0,4.0,7.0,10.0,12.0
year,1827.0,NaN,NaN,NaN,2023.002189,1.41576,2021.0,2022.0,2023.0,2024.0,2026.0
is_vacation,1827.0,NaN,NaN,NaN,0.16694,0.373025,0.0,0.0,0.0,0.0,1.0
is_gym_open,1827.0,NaN,NaN,NaN,0.714286,0.451878,0.0,0.0,1.0,1.0,1.0
active_student_population,1827.0,NaN,NaN,NaN,225.461412,14.718721,200.0,213.0,226.0,238.0,250.0
exam_phase,1827,3,midterm,616,NaN,NaN,NaN,NaN,NaN,NaN,NaN
exam_intensity,1827.0,NaN,NaN,NaN,0.765463,0.18356,0.55,0.55,0.75,1.0,1.0
academic_load_index,1827.0,NaN,NaN,NaN,0.507024,0.148081,0.047073,0.406391,0.506572,0.603994,0.978966
weather_condition,1827,4,normal,751,NaN,NaN,NaN,NaN,NaN,NaN,NaN
weather_impact_factor,1827.0,NaN,NaN,NaN,0.887384,0.096456,0.78,0.8,0.85,1.0,1.0
interuni_event,1827.0,NaN,NaN,NaN,0.019157,0.137114,0.0,0.0,0.0,0.0,1.0
event_boost_factor,1827.0,NaN,NaN,NaN,1.002874,0.020567,1.0,1.0,1.0,1.0,1.15
gym_adoption_ratio,1827.0,NaN,NaN,NaN,0.39922,0.083984,0.25,0.33231,0.400359,0.461956,0.6
maintenance_flag,1827.0,NaN,NaN,NaN,0.081554,0.27376,0.0,0.0,0.0,0.0,1.0
maintenance_severity,1827,4,none,1678,NaN,NaN,NaN,NaN,NaN,NaN,NaN
equipment_availability_ratio,1827.0,NaN,NaN,NaN,0.985468,0.055065,0.65,1.0,1.0,1.0,1.0
effective_capacity,1827.0,NaN,NaN,NaN,177.384236,9.911665,117.0,180.0,180.0,180.0,180.0
base_demand,1827.0,NaN,NaN,NaN,90.004514,19.870758,50.0,74.583223,89.076324,104.38305,145.8
raw_demand,1827.0,NaN,NaN,NaN,48.693542,18.017323,15.262733,35.272188,45.801622,59.309475,120.957241
daily_gym_footfall,1827.0,NaN,NaN,NaN,34.453749,26.805339,0.0,0.0,37.0,53.0,120.0

Date Handling & Sorting

In [ ]:
df["date"] = pd.to_datetime(df["date"])
df = df.sort_values("date").reset_index(drop=True)

Missing Value Handling

In [ ]:
df.isnull().sum()

date                            0
day_of_week                     0
is_sunday                       0
month                           0
year                            0
is_vacation                     0
is_gym_open                     0
active_student_population       0
exam_phase                      0
exam_intensity                  0
academic_load_index             0
weather_condition               0
weather_impact_factor           0
interuni_event                  0
event_boost_factor              0
gym_adoption_ratio              0
maintenance_flag                0
maintenance_severity            0
equipment_availability_ratio    0
effective_capacity              0
base_demand                     0
raw_demand                      0
daily_gym_footfall              0
dtype: int64

In [ ]:
# Safety fallback (should not activate)
df = df.dropna()

Data Type Normalization
Convert Binary Flags to Integer

In [ ]:
binary_cols = [
    "is_sunday",
    "is_vacation",
    "is_gym_open",
    "interuni_event",
    "maintenance_flag"
]

df[binary_cols] = df[binary_cols].astype(int)
print("Data preprocessing completed successfully.")

Data preprocessing completed successfully.

Convert Categorical Columns to category

In [ ]:
categorical_cols = [
    "exam_phase",
    "weather_condition",
    "maintenance_severity"
]

for col in categorical_cols:
    df[col] = df[col].astype("category")

print("Data preprocessing completed successfully.")

Data preprocessing completed successfully.

Target Variable Validation

In [ ]:
assert (df["daily_gym_footfall"] >= 0).all(), "Negative footfall detected!"
df["daily_gym_footfall"].describe()

count    1827.000000
mean       34.453749
std        26.805339
min         0.000000
25%         0.000000
50%        37.000000
75%        53.000000
max       120.000000
Name: daily_gym_footfall, dtype: float64

Closed-Day Consistency Check

In [ ]:
closed_day_violations = df[
    (df["is_gym_open"] == 0) & (df["daily_gym_footfall"] > 0)
]

print("Closed-day violations:", len(closed_day_violations))

Closed-day violations: 0

Feature Selection for Modeling
Drop Non-Modeling Columns

In [ ]:
df_model = df.drop(columns=[
    "base_demand",    # intermediate synthetic variable
    "raw_demand"      # intermediate synthetic variable
])

Encoding Categorical Features

In [ ]:
df_encoded = pd.get_dummies(
    df_model,
    columns=categorical_cols,
    drop_first=True
)

In [ ]:
# Convert boolean dummy columns to 0/1
bool_cols = df_encoded.select_dtypes(include=["bool"]).columns
df_encoded[bool_cols] = df_encoded[bool_cols].astype(int)

Final Dataset Check

In [ ]:
print("Final modeling shape:", df_encoded.shape)
df_encoded.to_csv("gym_footfall_preprocessed.csv", index=False)

Final modeling shape: (1827, 25)